{% extends "base.html" %}

{% block content %}

    <h1>Health App - User</h1>

     <form action='' method="post" novalidate>
         {{ form.hidden_tag() }}
        <p>
            {{ form.log_date.label }}<br>
            {{ form.log_date }}<br>
        </p>
        <p>
            {{ form.steps.label }}<br>
            {{ form.steps }}<br>
        </p>
        <p>
            {{ form.sleep.label }}<br>
            {{ form.sleep }}<br>
        </p>
        <p>
            {{ form.water.label }}<br>
            {{ form.water }}<br>
        </p>
        <p>
            {{ form.blood.label }}<br>
            {{ form.blood }}<br>
        </p>
        <p>
            {{ form.heart.label }}<br>
            {{ form.heart }}<br>
        </p>
        <p>
            {{ form.user_comment.label }}<br>
            {{ form.user_comment }}<br>
        </p>

        <p>{{ form.submit() }}</p>
    </form>

    <ul>
        {% for log in logs %}
        <li>
            {{ log.log_date }}
            steps: {{ log.steps }}
            sleep: {{ log.sleep }}
            water: {{ log.water }}
            blood: {{ log.blood }}
            heart: {{ log.heart }}
            your comment: {{ log.user_comment or "No comment" }}
            admin comment: {{ log.admin_comment or "No admin comment" }}
        </li>
            {% else %}
                <li>User has no health logs</li>
        {% endfor %}
    </ul>

    <a href="{{ url_for('user_graph') }}">view graph</a>
    <a href="{{ url_for('logout') }}">logout</a>

{% endblock %}
